div.swiper-slide:has(img.spoonflower-xl)::after {
  content: "L";
  position: absolute;
  bottom: 1px;
  left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2d6e76;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 0.75rem;
  font-size: 0.75rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
